<div class="container">
    <form [formGroup]="ProjectTaskForm">
        <h1>Project Task</h1>
        <div class="group">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Name</label>
                    <input type="text" class="form-control" formControlName="name" placeholder="Name">
                    <div [hidden]="ProjectTaskForm.get('name').valid || ProjectTaskForm.get('name').untouched">
                        <p style="color: red;">Required</p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Description</label>
                    <input type="text" class="form-control" formControlName="description"
                        placeholder="What should be done?">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Project Id</label>
                    <input type="number" class="form-control" formControlName="projectId" placeholder="1">
                    <div
                        [hidden]="ProjectTaskForm.get('projectId').valid || ProjectTaskForm.get('projectId').untouched">
                        <p style="color: red;">Required</p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label>Performer Id</label>
                    <input type="number" class="form-control" formControlName="performerId" placeholder="1">
                    <div
                        [hidden]="ProjectTaskForm.get('performerId').valid || ProjectTaskForm.get('performerId').untouched">
                        <p style="color: red;">Required</p>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>State</label>
                    <select class="form-control" id="propertyType" formControlName="state">
                        <option *ngFor="let type of stateValues" [ngValue]="type">{{type}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <div *ngIf="projectTask.id == undefined"  class="submit-btn">
                        <button id="submit" (click)="submit()"
                            class="btn btn-warning">Create</button>
                    </div>
                    <div *ngIf="projectTask.id != undefined" class="update-buttons">
                        <button class="btn btn-warning" (click)="update()">Update</button>
                        <button class="btn btn-danger" (click)="cancelation()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>