<app-project-task-create [events]="events.asObservable()" (creating)="onProjectTaskCreate($event)">

</app-project-task-create>

<app-project-task-list [projectTasks]="projectTasks">
    
</app-project-task-list>