<div class="item">

    <mat-card class = "container">
        <mat-card-content>
            <div>
                <h2>Team Name: {{team.name}} </h2>
            </div>
        </mat-card-content>
        <mat-card-actions>
                <button type="submit" class="btn btn-warning" (click)="editingSwitch()">Update</button>
                <button type="submit" class="btn btn-danger" (click)="deleteTeam()">Delete</button>
                <app-team-create [hidden]="!editingMode" [team]="team" (close)="editingSwitch()" 
                (edit)="changeTeam($event)">
            </app-team-create>
        </mat-card-actions>

    </mat-card>
</div>