<div class="item">

    <mat-card class = "container">
        <mat-card-content>
            <div>
                <h2>Project Name: {{project.name}} </h2>
                <h4>Author id: {{project.authorId}}</h4>
                <h4>Deadline: {{project.deadline | ukrDate}}</h4>
                <p>{{project.description}}</p>
            </div>
        </mat-card-content>
        <mat-card-actions>
                <button type="submit" class="btn btn-warning" (click)="editingSwitch()">Update</button>
                <button type="submit" class="btn btn-danger" (click)="deleteProject()">Delete</button>
                <app-project-create [hidden]="!editingMode" [project]="project" (close)="editingSwitch()" 
                (edit)="changeProject($event)">
            </app-project-create>
        </mat-card-actions>
    </mat-card>
</div>