<div class="item">

    <mat-card class="container">
        <mat-card-content>
            <div>
                <h2>Task Name: {{projectTask.name}} </h2>
                <h3>Performer ID: {{projectTask.performerId}}</h3>
                <h3> <span appState> State: {{displayState()}} </span></h3>
                <div *ngIf="projectTask.state == 2">
                    <h4>Finished at: {{projectTask.finishedAt | ukrDate}}</h4>
                </div>
            </div>
            <p>{{projectTask.description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button type="submit" class="btn btn-warning" (click)="editingSwitch()">Update</button>
            <button type="submit" class="btn btn-danger" (click)="deleteProjectTask()">Delete</button>
            <app-project-task-create [hidden]="!editingMode" [projectTask]="projectTask" (close)="editingSwitch()"
                (edit)="changeTask($event)">
            </app-project-task-create>
        </mat-card-actions>
    </mat-card>
</div>