<div class="container">
    <form [formGroup]="ProjectForm">
        <h1>Project </h1>
        <div class="group">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label >Name</label>
                    <input type="text" class="form-control" formControlName="name" placeholder="Name">
                    <div [hidden]="ProjectForm.get('name').valid || ProjectForm.get('name').untouched">
                        <p  style="color: red;">Required</p>
                    </div>
                 </div>
                 <div class="form-group col-md-6">
                    <label for="inputEmail4">Description</label>
                    <input type="text" class="form-control" formControlName="description" 
                    placeholder="What should be done?">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Project Id</label>
                    <input type="number" class="form-control" formControlName="authorId" placeholder="1">
                    <div [hidden]="ProjectForm.get('authorId').valid || ProjectForm.get('authorId').untouched">
                        <p  style="color: red;">Required</p>
                    </div>
                 </div>
                 <div class="form-group col-md-6">
                    <label>Team Id</label>
                    <input type="number" class="form-control" formControlName="teamId" placeholder="1">
                    <div [hidden]="ProjectForm.get('teamId').valid || ProjectForm.get('teamId').untouched">
                        <p  style="color: red;">Required</p>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Deadline</label>
                    <input type="date" class="form-control" formControlName="deadline" placeholder="1">
                 </div>
                 <div class="form-group col-md-6">
                 <div *ngIf="project.id == undefined">
                    <button id="submit" (click)="submit()" style="width: 98%;" class="btn btn-warning">Create</button>
                </div>
                <div *ngIf="project.id != undefined" >
                    <button class="btn btn-warning"(click)="update()">Update</button>
                    <button class="btn btn-danger"  (click)="cancelation()">Cancel</button>
                </div>
            </div>
        </div> 
    </div>
    </form>
</div>