/* mat-card{
    width: 70%;
    left: 15%;
} */
/* 
mat-card-actions {
    margin-left: 70%;
    margin-bottom: 20%;
    display: inline-block;
    position: relative;
    z-index: 1;
} */

.item{
    width: 100%;
    margin: 10px 0
}
mat-card-actions button{
    margin: 5px
}