<div class="item">

    <mat-card class = "container">
        <mat-card-content>
            <div>
                <h2>{{user.firstName}}  {{user.lastName}}</h2>
                <p>Birthday at : {{user.birthDayDate | ukrDate }}</p>
                <p>TeamId : {{user.teamId}}</p>
                <p>Email: {{user.email}}</p>
            </div>
        </mat-card-content>
        <mat-card-actions>
                <button type="submit" class="btn btn-warning" (click)="editingSwitch()">Update</button>
                <button type="submit" class="btn btn-danger" (click)="deleteUser()">Delete</button>
                <app-user-create [hidden]="!editingMode" [user]="user" (close)="editingSwitch()" 
                (edit)="changeUser($event)">
        
                </app-user-create>
        </mat-card-actions>
    </mat-card>
</div>