<nav class="navbar navbar-expand-lg navbar-dark  bg-dark">
  <a class="navbar-brand" href="#">LinqBinaryApp</a>
  <button class="navbar-toggler" type="button" 
  data-toggle="collapse" data-target="#navbarNavAltMarkup" 
  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="users">Users</a>
      <a class="nav-item nav-link" routerLink="teams">Teams</a>
      <a class="nav-item nav-link" routerLink="projects">Projects</a>
      <a class="nav-item nav-link" routerLink="tasks">Tasks</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>