<div class="container">
    <form [formGroup]="userForm">
        <h1>User</h1>
        <div class="group">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label >First Name</label>
                    <input type="text" class="form-control" formControlName="firstName" placeholder="Name">
                    <div [hidden]="userForm.get('firstName').valid || userForm.get('firstName').untouched">
                        <p  style="color: red;">Required</p>
                 </div>
            </div>
                 <div class="form-group col-md-6">
                    <label >Second Name</label>
                    <input type="text" class="form-control" formControlName="lastName" placeholder="LastName">
                    <div [hidden]="userForm.get('lastName').valid || userForm.get('lastName').untouched">
                        <p style="color: red;">Required</p>
                 </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <label>Email</label>
                    <input type="email" class="form-control" formControlName="email" placeholder="example@mail.com">
                    <div [hidden]="userForm.get('email').valid || userForm.get('email').untouched">
                        <p style="color: red;">Should be email</p>
                 </div>
                </div>
                <div class="col-md-6">
                    <label>Birthday</label>
                    <input type="date" class="form-control" formControlName="birthdayDate">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <label>Team ID</label>
                    <input type="number" class="form-control" formControlName="teamId">
                    <div [hidden]="userForm.get('teamId').valid || userForm.get('teamId').untouched">
                        <p style="color: red;">Required</p>
                 </div>
                </div>
                <div *ngIf="user.id == undefined" class="submit-btn">
                    <button id="submit" (click)="submit()"class="btn btn-warning">Create</button>
                </div>
                <div *ngIf="user.id != undefined" class="update-buttons">
                    <button class="btn btn-warning" (click)="update()">Update</button>
                    <button class="btn btn-danger" (click)="cancelation()">Cancel</button>
                </div>
            </div> 
        </div>
    </form>
</div>