<div class="container">
    <form [formGroup]="teamForm">
        <h1>Team</h1>
        <div class="group">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>First Name</label>
                    <input type="text" class="form-control" formControlName="name" placeholder="Name">
                    <div [hidden]="teamForm.get('name').valid || teamForm.get('name').untouched">
                        <p  style="color: red;">Required</p>
                 </div>
                </div>
                 <div *ngIf="team.id == undefined">
                     <button id="submit" (click)="submit()" style="width: 250%;" class="btn btn-warning">Create</button>
                    </div>
                <div *ngIf="team.id != undefined" class="update-buttons">
                    <button class="btn btn-warning" (click)="update()">Update</button>
                    <button class="btn btn-danger" (click)="cancelation()">Cancel</button>
                </div>
            </div> 
        </div>
    </form>
</div>